name: Build, Test and Deploy Quarkus Backend

on:
  push:
    branches:
      - master

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Build and Test Quarkus backend
      working-directory: ./back
      run: |
        chmod +x ./mvnw
        ./mvnw clean test -Dquarkus.profile=test
        ./mvnw package -DskipTests=false -Dquarkus.profile=test

  build-and-publish-docker-image:
    name: Build And Publish docker image
    runs-on: ubuntu-latest
    needs: [build-and-test, code-quality-check]
    timeout-minutes: 10

    steps:
    - name: Check out repository code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
  
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
 
    - name: Publish docker image
      run: |
          cd back
          docker build -t notes-back .
          docker tag notes-back ${{ secrets.DOCKERHUB_USERNAME }}/notes-back:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/notes-back:latest