name: Build, Test and Deploy Angular Frontend

on:
  push:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Node.js 21
      uses: actions/setup-node@v4
      with:
        node-version: '21'

    - name: Install dependencies
      run: |
        cd front
        npm ci

    - name: Build
      run: |
        cd front
        npm run build

    - name: Test
      run: |
        cd front
        npm test -- --browsers=ChromeHeadless

  build-and-publish-docker-image:
    name: Build And Publish docker image
    runs-on: ubuntu-latest
    needs: [build-and-test]
    timeout-minutes: 10

    steps:
    - name: Check out repository code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - run: echo "The ${{ github.repository }} repository has been cloned to the runner."

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Publish docker image
      run: |
          cd front
          docker build -t notes-front .
          docker tag notes-front ${{ secrets.DOCKERHUB_USERNAME }}/notes-front:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/notes-front:latest
